.ColorPicker {
    width: 375px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.8);
    margin: 15px;
}

.ColorPicker__title {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.ColorPicker__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    width: calc(100% / 6);
    list-style: none;
}